<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="CucumberSuite" verbose="1" parallel="false">
    <test name="Run Cucumber and Finalizer">
        <classes>
            <class name="com.transtreme.framework.runners.TestRunner"/>
            <class name="com.transtreme.framework.runners.ReportFinalizer"/>
        </classes>
    </test>
</suite>
